PORT=0000
MONGO_URI=mongodb://localhost:27017/frosting
SESSION_SECRET=1349756ghLOVE4591435+
JWT_SECRET=153794LOVEsgsKK4546
// must do in seconds
TOKEN_EXPIRATION=2592000
COOKIE_SECRET=secreto12346597697vfsgsg
WHITELISTED_DOMAINS=http://localhost:000